

@media screen and (max-width: 500px) {
    .header img{
        width:13%;
    }
}
.header {
    width: 100%;
    display: inline-block;
}

.header a {
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    float: right;
    margin: 10px;
    color: #F29131;
    background-color: black;
    border-radius: 30px;
    

}

.header a:hover{
    color: #FEF7F0;
}

/* media queries for header links */


@media screen and (max-width: 700px) {
    .header a{
        font-size: 14px;
        padding: 10px;
    }
    }

    @media screen and (max-width: 500px) {
        .header a{
            font-size: 10px;
            padding: 3px;
        }
        }

        /* Styles for the nav links bar */

.navlinks{
    background-color: black;
    height: 18px;
    width: 100%;
    padding-bottom: 55px;
    
}

@media screen and (max-width:770px) {
    .navlinks{
        height: 10px;
    }
    
}

@media screen and (max-width:500px) {
    .navlinks{
        height: 6px;
    }
    
}


.navlinks a {
    text-decoration: none;
    padding: 25px;
    
    font-size: 23px;
    color: #F29131;
    display: inline-block;
}


.navlinks a:hover {
    color: #FEF7F0;
}

/* media queires for nav links bar */

@media screen and (max-width: 650px) {
.navlinks a{
    font-size: 16px;
    padding: 20px;
}
}
@media screen and (max-width: 500px) {
    .navlinks a{
        font-size: 11px;
        padding: 15px;
    }
    }
    @media screen and (max-width: 370px) {
        .navlinks a{
            font-size: 8px;
            padding: 12px;
        }
        }

        /* styles for the main image and description */

.body {
    width: 100%;
    height: 500px;
}

@media screen and (max-width: 770px) {
    .body{
      height:350px;
    }
    }
    @media screen and (max-width: 470px) {
        .body{
          height:250px;
        }
        }

        @media screen and (max-width: 400px) {
            .body{
              height:200px;
            }
            }
.main{
    width: 50%;
    float: left;
    height: 450px;
}



@media screen and (max-width: 770px) {
    .body img{
       height:300px;
    }
    }
    @media screen and (max-width: 470px) {
        .body img{
           height:200px;
        }
        }

        .mainmap{
            width:50%;
            float:left;
            height:450px;
        }
    

.body h3{
    text-decoration-style: wavy;
	text-shadow: 1.5px 1.5px 2.5px #F29131;
	word-spacing:30px;
	color:#2a2e33;
	text-align:center;
  display: block;
  font-size: 4.8em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  
}

 .body h4{
    text-decoration-style: wavy;
    word-spacing:15px;
    text-shadow: 1.5px 1.5px 2.5px #F29131;
    color: #2a2e33;
	
	text-align:center;
    display: block;
    font-size: 2.8em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}




@media screen and (max-width: 1350px) {
.body h4{
    font-size: 2.5em;
}
.body h3{
    font-size: 3.5em;
}
}

@media screen and (max-width: 1150px) {
    .body h4{
        font-size: 2.0em;
    }
    .body h3{
        font-size: 3.0em;
    }
    }

@media screen and (max-width: 770px) {
    .body h4{
        font-size: 1.5em;
    }
    .body h3{
        font-size: 2.5em;
    }
    }

    @media screen and (max-width: 470px) {
        .body h4{
            font-size: 1em;
        }
        .body h3{
            font-size: 1.8em;
        }
        }
        @media screen and (max-width: 360px) {
            .body h4{
                font-size: .5em;
            }
            .body h3{
                font-size: .9em;
            }
            
            }

            
    @media screen and (max-width: 500px) {
         h4{
            font-size: 1em;
        }
    }

hr {
    height: 3px;
    border: 0;
    background-color: #C1C1C1;
    margin-left: 20%;
    margin-right: 20%;
}



/* styles for the main three links */

h4{
    text-decoration-style: wavy;
    word-spacing:15px;
    text-shadow: 1.5px 1.5px 2.5px #F29131;
    color: #2a2e33;
	
	text-align:center;
    display: block;
    font-size: 2.8em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}

@media screen and (max-width: 500px) {
    h4{
       font-size: 1em;
   }
}

#container2{
    width: 80%;
    height: 480px;
    margin-top: 0;
    margin-left: 10%;
    padding: 0;
}

@media screen and (max-width: 1150px) {
    #container2{
        width: 100%;
    }
    }

    @media screen and (max-width: 770px) {
        #container2{
            width: 100%;
            height: 380px;
        }
        }

        @media screen and (max-width: 470px) {
            #container2{
                width: 100%;
                height: 280px;
            }
            }

.link1{
    width: 20%;
    height: 300px;
    background-color: white;
    border: 5px solid #C1C1C1; 
    border-radius: 10px;   
    margin-left: 135px;
    margin-top: 100px;
    float: left;
}
@media screen and (max-width: 1150px) {
    .link1{
        width: 13%;
        height:300px;
        margin-left:100px;
    }
    }

    @media screen and (max-width: 1020px) {
        .link1{
            width: 12%;
            height:250px;
            margin-left:80px;
        }
        }

        @media screen and (max-width: 720px) {
            .link1{
                width: 12%;
                height:200px;
                margin-left:60px;
            }
            }


        @media screen and (max-width: 400px) {
            .link1{
                width: 10%;
                height:150px;
                margin-left:40px;
            }
            }

.link1 a {
    text-decoration: none;
    color: black;
    font-size: 30px ;
    text-shadow: 1.5px 1.5px 2.5px #F29131;
   

}

@media screen and (max-width: 1150px) {
    .link1 a{
        font-size:8px;
    }
    }

    @media screen and (max-width: 720px) {
        .link1 a{
            font-size:7px;
        }
        }

    .link1:hover{
    background-image: linear-gradient(to bottom, #FFBF80, #C06500);
    flood-color: white ;
}
.link2{
    width: 20%;
    height: 300px;
    background-color: white;
    border: 5px solid #C1C1C1; 
    border-radius: 10px;  
    margin-top: 100px;
    margin-left: 100px;
    float: left;
}

@media screen and (max-width: 1150px) {
    .link2{
        width: 13%;
        height:300px;
        margin-left:100px;
    }
    }

    @media screen and (max-width: 1020px) {
        .link2{
            width: 12%;
            height:250px;
            margin-left:80px;
        }
        }

        @media screen and (max-width: 720px) {
            .link2{
                width: 12%;
                height:200px;
                margin-left:60px;
            }
            }


        @media screen and (max-width: 400px) {
            .link2{
                width: 10%;
                height:150px;
                margin-left:40px;
            }
            }


.link2 a {
    text-decoration: none;
    color: black;
    font-size: 30px ;
    text-shadow: 1.5px 1.5px 2.5px #F29131;

}

@media screen and (max-width: 1150px) {
    .link2 a{
        font-size:8px;
    }
    }

    @media screen and (max-width: 720px) {
        .link2 a{
            font-size:7px;
        }
        }
    


.link2:hover{
    background-image: linear-gradient(to bottom, #FFBF80, #C06500);
    flood-color: white ;
}
.link3{
    width: 20%;
    height: 300px;
    background-color: white;
    border: 5px solid #C1C1C1; 
    border-radius: 10px;  
    margin-top: 100px;
    margin-left: 100px;
    float: left;

}

@media screen and (max-width: 1150px) {
    .link3{
        width: 13%;
        height:300px;
        margin-left:100px;
    }
    }

    @media screen and (max-width: 1020px) {
        .link3{
            width: 12%;
            height:250px;
            margin-left:80px;
        }
        }

        @media screen and (max-width: 720px) {
            .link3{
                width: 12%;
                height:200px;
                margin-left: 60px;
            }
            }


        @media screen and (max-width: 400px) {
            .link3{
                width: 10%;
                height:150px;
                margin-left:40px;
            }
            }

            
.link3 a {
    text-decoration: none;
    color: black;
    font-size: 30px ;
    text-shadow: 1.5px 1.5px 2.5px #F29131;

}
@media screen and (max-width: 1150px) {
    .link3 a{
        font-size:8px;
    }
    }

    @media screen and (max-width: 720px) {
        .link3 a{
            font-size:7px;
        }
        }
    
.link3:hover{
    background-image: linear-gradient(to bottom, #FFBF80, #C06500);
    flood-color: white ;
}


@media screen and (max-width: 1150px) {
    h5{
    font-size: 10px    }
    }
.text-p p{
    text-shadow: 1px 1px 2px #d2a679;
text-align:center;
  display: block;
margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
	text-align:center;
   color: black;
  font-family: courier;
  font-size: 160%;
}

@media screen and (max-width: 650px) {
    p{
        font-size:  100%;
}
    }


.container{
    height:500px;
}

@media screen and (max-width: 650px) {
    .container{
       height: 500px;
       width: 100%;
}
    }

/* styles for the subscription form */

  input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
  }

  .button {
    background-color: #C06500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 125px;
    opacity: 0.9;
  }

  @media screen and (max-width: 650px) {
    .button {
        margin: 8px 0;
        padding:14px 20px;
        width: 75px;
    }
    }

  
    .button:hover {
  opacity: 0.5;
  }
  
  
/* styles for the footer links */

  .footer {
   
    width: 100%;
    display: inline-block;
    padding-bottom: 0px;
    bottom: 0;
}

.footer a {
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
    float: right;
    margin: 20px;
    color: #F29131;
    background-color: black;
    border-radius: 30px;
    float: left;

}
@media screen and (max-width: 700px) {
    .footer a{
        padding: 4px;
        margin:6px;
    }
    }

    @media screen and (max-width: 500px) {
        .footer a{
            padding: 2px;
            margin:2px;
        }
        }
.footer a:hover{
    color: #FEF7F0;
}
    
    .medialinks a{
    
        padding:15px;
        margin-right:5px;
        margin-bottom:15px;
        margin-top: 0;
    
        float: right;

    }

    @media screen and (max-width: 700px) {
        .medialinks a{
            padding: 2px;
            margin:2px;
        }
        }
    
        @media screen and (max-width: 450px) {
            .medialinks a{
                padding: 0px;
                margin:0px;
            }
            }
        
    
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
    
      text-decoration: none;
    
    }
    
    .fa:hover {
      opacity: 0.7;
    }
    
    
    .fa-facebook {
    
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #00acee;
      color: white;
    }
    .fa:hover {
      opacity: 0.7;
    }
    
    
    .fa-youtube {
      background: #c4302b;
      color: white;
    }
    
    
    .icon-bar {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    /* student dashboard page*/

    .dash{
        width:50%;
        margin-top:90px;
      float: right;
      opacity: 1.0;
      }
      
      .dash a{
        text-decoration:none;
        color: white;
      
        border-radius:30px;
        font-size:165%;
        margin: 10px;
      float: left;
      
      
      }
      .adminpic{
        width: 20%;
        float: left;
      padding: 150px;
      text-align: center;
      }
      .dash a:hover{
        opacity: 0.8;
      
      }
      h1 {
        text-shadow: 1px 1px 2px #d2a679;
        font-size: 1.8em;
      }

    /* styles for aptitude quiz selection */
      

      #status, #stream  {
        width: 25%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: black 1.5px solid;
      
        background: white;
      }


      /* styles for institutions page */

    
      
      .filterDiv {
      
        background-color: #F6E8B1;
        color: black;
        width: 400px;
        line-height: 50px;
        text-align: center;
        margin: 4px;
        display: none;
      }
      
      
      .show {
        display: inline-block;
      }
      
      
      .btn {
        border: black 1.5px solid;
      
        padding: 20px;
        background-color: #FDA50F;
        cursor: pointer;
        color: black;
      }
      
      
      .btn:hover {
        background-color: #F6E8B1;
      }
      
      
      
      .btn.active {
        background-color: #FDA50F;
        color: black;
      }
      
      .btn.active:hover {
        background-color: #F6E8B1;
      }
      
/* styles for the contactus page */

    
.contact h3{
    text-align: center;
    color: black;
    font-family: courier;

}
.contact{
    float: left;
    width: 40%;
  margin-left: 10%;
  font-size: 150%;
  text-shadow: 1px 1px 2px #00bfff;
   color: black;
  font-family: courier;
  }
  
  #map .logo{
      height: 400px;
    width: 40%;
    margin-right: 5%;
    padding: 30px;
}